<template name="coreLayoutBeesknees">
{{#if hasDashboardAccess}}
  {{> coreAdminLayout}}
{{else}}
    <nav class="reaction-navigation-header">
      <!-- begin layoutHeader -->
      {{> Template.dynamic template=layoutHeader}}
      <!-- end layoutHeader -->
    </nav>

    <nav class="reaction-cart-drawer">
      {{>cartDrawer}}
    </nav>

  <main role="main" id="main">
    <div class="rui beesknees"> <!--- So you wouldn't want to actually have this here but it's good for some examples -->
      <div class="bkdebug"><em data-i18n="beesknees.navbar.beeskneesLayout">Bee's Knees layout</em></div>
      <div class="bkdebug"><em>layoutHeader template:</em> {{layoutHeader}}</div>
      <div class="bkdebug"><em>layoutFooter template:</em> {{layoutFooter}}</div>
      <div class="bkdebug"><em data-i18n="beesknees.navbar.mainTemplate">Main Layout</em> {{template}}</div>
    </div>
    <span id="layout-alerts">{{> inlineAlerts}}</span>
    {{#if hasPermission 'guest'}}
      <!-- begin template region -->
      {{> Template.dynamic template=template}}
      <!-- end template region -->
    {{/if}}

    <footer class="reaction-navigation-footer footer-default">{{> Template.dynamic template=layoutFooter}}</footer>
  </main>

{{/if}}
</template>
